.doctor-list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;

    article {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 20px;
        padding-bottom: 20px;
        height: 1.2em;
        width: 100%;
        background: var(--hover-color);
        border-radius: 18px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .08);

        transition: all ease-in-out 0.3s;

        h1 {
            font-size: 1em;
            color: var(--primary-color);
            flex: 1.5;
            text-align: left;
        }

        h2 {
            font-size: 1em;
            color: var(--text-color);
            flex: 4;
            text-align: left;
        }


        img {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: var(--background-color);
            flex: 1;
            border-radius: 50%;
            margin-right: 10px;
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 12px 28px rgba(0, 0, 0, .35);
        }
    }
}