h1{font-weight: lighter}

.nav-space {
    margin-left: calc(var(--sidebar-w) + 16px);
}

.container {
    padding: 24px 24px 40px;
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 50%;
    }
}

.dashboard-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (max-width: 780px) {
    .container-form {
        form {
            width: 60%
        }
    }

    .nav-space {
        margin-left: 0;
    }

    .container {
        margin-left: 0;
        padding-top: 80px;
        width: 100%;
    }

    .container-form{
        margin-top: 10em;
    }

    .container {
        padding: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboard-content-container {
        width: 100%;
    }

    nav {
        border-radius: 0;
        box-shadow: none;

        section {
            width: 30%;
        }
    }


}
