body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    margin:6rem auto;
    padding:0 1rem;
    width: 90%;
}

.details{
    display:none;
    background:var(--background-color);
    border:1px solid var(--text-color);
    border-radius:18px;
    padding:1rem;
    margin-top:1rem;
    overflow:auto;
    max-height:40vh
}

.buttons{
    gap :1em;
}

@media (max-width: 780px) {
    main {
        margin: 2rem auto;
        padding: 0 1rem;
    }

    .buttons{
        a, button{
            font-size: 0.8em;
        }
    }

    .details{
        font-size: 0.8em;
        max-width: 100%;
    }
}