.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 30%;
    border-radius: 18px;
    padding: 50px;
    gap: 30px;
    background-color: var(--theme-color);
    box-shadow: var(--shadow);

    h1{
        text-align: center;
        color: var(--primary-color)
    }

    section{
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    article{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    input{
        background-color: var(--background-color);
        border-radius: 5px;
        border: none;
        height: 2em;
        padding: 5px;
        font-size: 1.2em;
    }

}

.password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input{
        min-width: 90%;
    }

    background-color: var(--background-color);
    border-radius: 5px;
    border: none;
    height: 3em;
    button{
        all:unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        border: none;
        background: none;
        cursor: pointer;
        img{
            height: 50%;
        }
    }
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{
        text-decoration: none;
        color: var(--primary-color);
        text-align: center;
    }
}

.links-signup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;

    a{
        text-decoration: none;
        color: var(--primary-color);
        text-align: center;
    }
}

.code-container{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    input {
        width: 1.4em;
        height: 2.1em;
        border: 2px solid var(--heavy-color);
        border-radius: 8px;
        text-align: center;
        font-size: 1.5em;
    }
}

.line{
    width: 15px;
    height: 1.3px;
    padding: 1px;
    background: var(--heavy-color);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    form{
        width: 90%;
        .code-container input {
            width: 1.8em;
            height: 2.2em;
            border-radius: 6px;
            font-size: 1.2em;
        }
        .line{
            width: 15px;
            height: 1px;
        }
    }
}

select {
    padding: .8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input:disabled {
    background: #f5f5f5;
}