.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

form {
    width: 30%;
    border-radius: 18px;
    padding: 50px;
    gap: 30px;
    background-color: var(--bg-surface);
    box-shadow: var(--shadow);

    h1 {
        text-align: center;
        color: var(--text-primary)
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 20px
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input,
    textarea {
        background-color: var(--bg-canvas);
        color: var(--text-main);
        border-radius: 5px;
        border: none;
        height: 2em;
        padding: 5px;
        font-size: 1.2em;
    }

    .radio-group {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .radio-group label {
        display: flex;
        align-items: center;
        gap: .3em;
    }

    textarea {
        font-size: 1em;
        width: 100%;
        resize: vertical;
        min-height: 100px;
        font-family: inherit;
        border-radius: 18px
    }

    select {
        width: 100%;
        padding: .6rem;
        border-radius: .5rem;
        background-color: var(--bg-canvas);
        font-family: inherit;
        cursor: pointer;
    }

}

.password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
        min-width: 90%;
    }

    background-color: var(--bg-canvas);
    border-radius: 5px;
    border: none;
    height: 3em;

    button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        border: none;
        background: none;
        cursor: pointer;

        img {
            height: 50%;
        }
    }
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: var(--text-primary);
        text-align: center;
    }
}

.links-signup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;

    a {
        text-decoration: none;
        color: var(--text-primary);
        text-align: center;
    }
}

.code-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;

    input {
        width: 1.4em;
        height: 2.1em;
        border: 2px solid var(--heavy-color);
        border-radius: 8px;
        text-align: center;
        font-size: 1.5em;
    }
}

.line {
    width: 15px;
    height: 1.3px;
    padding: 1px;
    background: var(--heavy-color);
    border-radius: 10px;
}

@media (max-width: 1000px) {
    form {
        width: 60%;

        .code-container input {
            width: 1.8em;
            height: 2.2em;
            border-radius: 6px;
            font-size: 1.2em;
        }

        .line {
            width: 15px;
            height: 1px;
        }

        .password {
            input {
                min-width: 50%;
            }
        }
    }
}