h1 {
    font-weight: lighter;
    font-size: 150%;
}

.nav-space {
    margin-left: calc(var(--sidebar-w) + 16px);
}

.container {
    padding: 12px 12px 20px;
    display: flex;
    gap: 2em;
}

#sort-container {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

#sort-btn {
    background-color: var(--theme-color);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .3);
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

    border: none;
    outline: none;
}


#sort-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--theme-color);
    border: 1px solid;
    border-radius: 4px;
    z-index: 9999;
    min-width: 180px;
}

#sort-container,
#sort-container2 {
    position: relative;
}

#button-bar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
    width: 100%;
    align-self: flex-start;
}

.sort-option {
    display: block;
    width: 100%;
    padding: 6px 12px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.sort-option:hover {
    background-color: var(--background-color);
}

#sort-container2 {
    display: inline-block;
    position: relative;
    margin-left: 25px;
}

#sort-btn2 {
    background-color: var(--theme-color);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .3);
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

    border: none;
    outline: none;
}

#sort-menu2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--theme-color);
    border: 1px solid;
    border-radius: 4px;
    z-index: 9999;
    /* Increased z-index */
    min-width: 180px;
}

.sort-option2 {
    display: block;
    width: 100%;
    padding: 6px 12px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.sort-option2:hover {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 50%;
    }
}

.dashboard-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (max-width: 780px) {
    .container-form {
        form {
            width: 60%
        }
    }

    .nav-space {
        margin-left: 0;
    }

    .container {
        margin-left: 0;
        padding-top: 80px;
        width: 100%;
    }

    .container-form {
        margin-top: 10em;
    }

    .container {
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboard-content-container {
        width: 100%;
    }

    nav {
        border-radius: 0;
        box-shadow: none;

        section {
            width: 30%;
        }
    }


}