@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body::selection {
    background: var(--primary-color);
    color: var(--theme-color);
}

body{
    font-family: Poppins, Verdana, sans-serif;
    scroll-behavior: smooth;

    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);

    min-height: 100vh;
}

#dash{
    color: var(--blacktext-color);
}