.apropos-card {
    background: var(--theme-color);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.apropos-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}

.apropos-card h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

.apropos-card li {
    line-height: 1.6;
    text-align: left;
}