.user-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 350px;
    overflow-y: auto;
    padding: 0.5rem;
    align-items: center;
}

.user-card {
    background: var(--theme-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
    width: 80%;
}

.user-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px var(--shadow);
}

.user-card:focus {
    box-shadow: 0 0 0 3px var(--primary-color);
}

.user-card.selected {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--theme-color);
}

.no-results {
    width: 100%;
    text-align: center;
    padding: 2rem;
    color: var(--text-color);
    font-style: italic;
}