:root {
    --primary-color: #275AFE;
    --hover-color: rgba(132, 159, 255, 0.20);
    --secondary-color: #00C8E0;
    --tertiary-color: #3A3A46;
    --background-color: #2A2A34;
    --heavy-color: #678BFA;
    --text-color: #E1E5EA;
    --blacktext-color: #F9F9F9;
    --theme-color: #1F1F28;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.35);

    --chart-grid-color: rgba(255, 255, 255, 0.2);
    --chart-tick-color: rgba(255, 255, 255, 0.8);
    --chart-tooltip-bg: rgba(30, 30, 30, 0.9);
    --chart-tooltip-text: #fff;
    --chart-tooltip-border: rgba(255, 255, 255, 0.1);
}

body[data-theme="dark"] img.icon,
body[data-theme="dark"] svg.icon {
    filter: invert(1) brightness(1.2);
}

img.icon,
svg.icon {
    filter: invert(1) brightness(1.2);
}