:root {
    --aside-w: 30%;
}

aside {
    background: var(--theme-color);
    border-radius: 30px 0 0 30px;
    padding: 24px;
    width: var(--aside-w);
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    right: 0;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.05);
    z-index: 900;
    overflow: hidden;
    /* Manage overflow in children */
}

/* Bouton d'affichage de l'aside lors du responsive */
#aside-show-btn {
    background: var(--theme-color);
    display: none;
    border: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 1em 0.1em 1em 0.5em;

    position: fixed;
    cursor: pointer;

    top: 50%;
    right: 0;

    font-size: 2em;
}

aside.active-aside {
    display: flex;
    width: 90vw;
    height: 90vh;
    position: fixed;
    inset: 0;
    background: var(--background-color);
    margin-top: 64px;
    padding-top: 2em;
    max-height: none;
}

.aside-space {
    margin-right: calc(var(--aside-w) + 2em);
}

@media (max-width: 1400px) {
    h1 {
        font-size: 1.5em
    }
}

@media (max-width: 780px) {
    #aside-show-btn {
        display: block;
        z-index: 100;
    }

    aside {
        display: none;
    }

    .aside-space {
        margin-right: 0;
    }
}