.doctor-list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 20px;
        padding-bottom: 50px;
        height: 4em;
        background: var(--theme-color);
        border-radius: 18px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .08);

        transition: all ease-in-out 0.3s;

        h1 {
            font-size: 1em;
            color: var(--primary-color);
        }

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: var(--background-color);
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 12px 28px rgba(0, 0, 0, .35);
        }
    }
}