.evenement {
    background-color: var(--theme-color);
    box-shadow: var(--shadow);
    padding: 20px;
    line-height: 125%;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom:2px;
    overflow: hidden;
}

.evenement h1 {
    color: var(--primary-color);
    font-size: 100%;
}

.bouton-consultations {
    display: flex;
    justify-content: flex-end;
}

.date {
    color: var(--primary-color);
    font-family: 'Consolas', monospace;
    margin: 0;
    transition: color 0.3s ease;
}

.evenement-content {
    display: grid;
    grid-template-columns: 85px 1fr;
    gap: 15px;
    align-items: center;
    width: calc(100% - 24px);
    max-width: 100%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.evenement-content strong {
    color: var(--primary-color);
    transition: color 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
}

.evenement-content:hover {
    background-color: var(--primary-color);
}

.evenement-content:hover .date,
.evenement-content:hover strong {
    color: var(--background-color);
}