.evenement {
    h1 {
        color: var(--primary-color);
        font-size: 110%;

    }
    background-color: rgba(144, 213, 255, 0.65);
    box-shadow: var(--shadow);
    padding: 20px;
    line-height: 70%;
    margin-bottom: 5px;
    /*height: 60%;*/
    padding-top: 5px;
    padding-bottom: 5px;
}


.bouton-consultations {
    display: flex;
    justify-content: flex-end;
}

.date {
    color: var(--primary-color);
}


.evenement-content {
    gap: 15px;
    width: 100%;
    margin-bottom: 5px;
}